* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(218, 5, 104); */
  height: 100%;
}
.root {
  background: linear-gradient(
    rgb(218, 5, 104),
    rgb(255, 115, 0),
    rgb(230, 61, 0),
    rgb(218, 5, 104)
  );
  height: 100vh;
  width: 100vw;
}

.btnContainer,
.ClockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeText {
  color: rgb(235, 5, 5);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  height: 200px;
  width: 200px;
  font-family: "Karla", sans-serif;
}

.timeText > div {
  background-color: rgb(252, 222, 188);
  height: 45px;
  width: 38px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  font-size: 17px;
  background-color: rgb(255, 51, 0);
  outline: none;
  border: 2px solid rgb(52, 54, 50);
  height: 35px;
  width: 60px;
  margin-top: 10px;
  font-family: consolas;

  border-radius: 10px;
}

button:active {
  color: rgb(255, 255, 255);
  background-color: rgb(196, 0, 0);
}
